<!DOCTYPE html>
<html lang="en" ng-app="fizzbuzz">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

    <title>Fizzbuzz API Assignment</title>
</head>

<body>
<div class="container-fluid">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Fizzbuzz API Assignment</h1>
        <p>Assignee: Furkan Yavuz</p>
        <p class="lead">This is a simple Fizzbuzz Game implementation. Using Java (Spring Web, Spring Boot, Thymeleaf),
            AngularJs, Bootstrap</p>
        <hr class="my-4">
        <p>How Fizzbuzz game works: <span><a href="http://en.wikipedia.org/wiki/Fizz_buzz">Fizzbuzz Wiki</a></span></p>
    </div>

    <div class="jumbotron" ng-controller="GameController as ctrl">
        <p class="lead">Please enter numbers. Use spaces in between them. (e.g. "1 5 8")</p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Input" ng-model="ctrl.inputItem">
        </div>
        <hr class="my-4">
        <button type="submit" class="btn btn-primary" ng-href="#here" ng-click="ctrl.submit()">Submit</button>
        <hr class="my-4">
        <div>
            <div ng-if="ctrl.resultItem.errorMessage" class="alert alert-danger" role="alert">
                {{ ctrl.resultItem.errorMessage }}
            </div>

            <div ng-if="ctrl.resultItem.resultItems">
                <p class="lead">Fizzes and Buzzes</p>

                <ul class="list-group">
                    <li ng-class="item == 'Fizz Buzz' ? 'list-group-item list-group-item-danger' :
                        (item == 'Fizz' || item == 'Buzz' ? 'list-group-item list-group-item-warning' : 'list-group-item')"
                        ng-repeat="item in ctrl.resultItem.resultItems track by $index">
                        {{ item }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
